NEXT_PUBLIC_APP_NAME=Pato Jogo
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://dvtbmjjfyjspbigyemjr.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8V1i_-mUQtkt4Ag1nZcA5w_P234T3ik
